-Rules-

Any Genre, Any song. However:
- No songs over 7 minutes.
- No repeat songs (it shows repeat songs in yellow on your list).
- No gore videos.
- No Full on Nudity clips.
- No songs if you KNOW people will hate it.
- Excessive swearing is not allowed.
- Be polite and respectful towards the musical tastes of others.
